@page
@model MerchStore_Web_App.Pages.ProductsModel
@{
        <h1>Products</h1>
        <p>Explore our available products</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
            {
                    <tr>
                        <td>@product.productName</td>
                        <td>@product.productDescription</td>
                        <td>@product.categoryName</td>
                        <td>@product.productPrice.ToString("C")</td>
                        <td>@product.productStock</td>
                    </tr>
            }
            </tbody>
        </table>
}
